<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		body{
			font-size: 30px;
		}
		a{
			display: block;
		}
	</style>
</head>
<body >
	<a href="list/">Все книги</a>
	<a href="2">Первая одна книга</a>
	<a href="cread/2">Изменить Первую одну книгу</a>
	<br>
	<a href="author/list/">Авторы книг</a>
	<a href="author/126">Первый  автор одной книги</a>
	<br>
	<a href="publisher/list/">Издатели книг</a>
	<a href="publisher/54">Первый  Издатель одной книги</a>
</body>
</html>